body {
padding: 0;
margin: 0;
font: 13px Arial, Helvetica, Garuda, sans-serif;
}
h1, h2, h3, h4, h5, h6, ul, li, em, strong, pre, code {
padding: 0;
margin: 0;
line-height: 1em;
font-size: 100%;
font-weight: normal;
font-style: normal;
font-family: 'Arvo', serif;
}
table {
font-size: inherit;
}
ul {
list-style: none;
}
img {
border: 0;
}
p {
margin: 1em 0;
}
/******************************************************************
				    END CSS RESET
******************************************************************/
a{ 
	color: #196497; 
	text-decoration: none; 
	outline: none;
	font-weight: bold;
}
a:hover{ color: #0081c1;}
.clear{
	clear: both;
	overflow: hidden;
}

.hide{display:none;}
p{
	font-size: 12px;
	line-height: 17px;
	color: #5f6060;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
}

h1{
	font-size: 46px;
	color: #232323;
	text-transform: uppercase;
	font-weight: bold;
}
h2{font-size: 38px;}

h3{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #232323;
}

h4{
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #4b4c4c;
}

strong{
	font-weight: bold;
	color: #3a3a3a;
}
span.subtitle{
	font-size: 14px;
	line-height: 0;
	position: relative;
	top: -8px;
	display: block;
	margin-bottom: -4px;
}

.shadow-sep{
	background: transparent url(../../images/light/shadow-sep.png) no-repeat;
	width: 960px;
	height: 57px;
}

.margin0{
	margin-bottom: -40px;
}
.left, .alignleft{
	float: left;
	overflow: hidden;
	margin: 10px 12px 10px 0;
}

.right, .alignright{
	float: right;
	overflow: hidden;
	margin: 0 0 10px 14px;
}
.hline{
	border-top: 1px solid #d4d3d3;
	border-bottom: 1px solid #f9f9f9;
	clear: both;
	margin-top: 5px;
	margin-bottom: 10px;
}

ol li{
	font-size: 13px;
	color: #525355;
	padding: 0 0 10px;
}

ul.check-list, ul.list-arrow, ul.star{ float:left; margin: 15px 30px 5px 0;
	padding: 0 0 10px;
	clear: both;
	overflow: hidden;
	width: 100%;
}
ul.check-list li{  
	padding: 0 0 5px 20px; 
	margin: 0 0 2px; 
	font-size: 13px;
	color: #525355;
	background: transparent url(../../images/icons/check.png) no-repeat left center;
	float: left;
	clear: both;
	list-style: none !important;
}

ul.list-arrow li{ 
	padding: 0 0 5px 20px; 
	margin: 0 0 2px; 
	font-size: 13px;
	color: #525355;
	background: transparent url(../../images/icons/list_arrow.png) no-repeat left center;
	float: left;
	list-style: none !important;
}
.intro-text{
	background: transparent url(../../images/light/introtext-bg.png) no-repeat;
	width: 960px;
	height: 120px;
}

.intro-text h3{
	line-height: 26px;
	font-size: 18px;
	padding: 21px 19px 0 19px;
}

.intro-text-2{
	background: transparent url(../../images/light/introtext-bg.png) no-repeat;
	width: 960px;
	height: 118px;
	margin-bottom: 25px;
}

.intro-text-2 h3{
	line-height: 26px;
	font-size: 18px;
	padding: 21px 0 0 19px;
}

body{
	background: #eeeeee url(../../images/light/bg.png) repeat-x;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#bg-light{ background:  url(../../images/light/bg-light.png) no-repeat top left;}

#wrapper{
	width: 960px;
	margin: 0 auto;
}
.wrapper{
	width: 960px;
	margin: 0 auto;
}

#top-info{
	height: 66px;
	width: 100%;
}
.top-buttons{ float: right;}

#header{
	height: 104px;
	width: 100%;
	margin-bottom: 3%;
}

img#logo{
	height: 100px;
	display: block;
	float: left;
	text-indent: -9999px;
	margin-top: 24px;
}

#theme_logo{
	background: transparent url(../../images/light/logo.png) no-repeat;
	width: 181px;
	height: 56px;
	display: block;
	float: left;
	text-indent: -9999px;
	margin-top: 24px;
}
/******************************************************************
				 			NAVIGATION 
******************************************************************/
#navigation {
	float: right;
	margin-top: 49px;
}

/* Top Level Menu */
#navigation ul li {
	display: block;
	margin: 0 10px;
	float: left;
	position: relative;
}

#navigation ul li a {
	color: #7c7f7f;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	border: none;
	padding-bottom: 4px;
}
#navigation ul li a:hover{
	color: #000;
	padding-bottom: 139px;
}
#navigation ul li.current_page_item a{
color: #000 !important;
}
/* Sub Level Nav */
#navigation ul li ul, #navigation ul li ul.children {
	background: url(../../images/light/menubg.png) repeat;
	border-top: none;
	border-bottom: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
	position: absolute;
	width: 135px;
	padding: 0 6px;
	margin: 12px 0 0;
	z-index: 1000;
	
}

#navigation ul li.current_page_item ul li a{color: #7c7f7f !important;}
#navigation ul li.current_page_item ul li a:hover{ color: #1e1e1e !important;}
#navigation ul li ul li {
	border-bottom: 1px solid #dddfdf;
	display: block;
	float: none;
	height: 14px;
	padding: 7px 0;
	text-align: center;
	width: 130px;
	margin: 0;
	border-top: 1px solid #fffeff;
}

#navigation ul li ul li:last-child{ border-bottom: none;}
#navigation ul li ul li a {
	color: #7c7f7f;
	text-shadow: none;
	font-weight: bold;
	text-transform: none;
	font-size: 12px;
	padding-bottom: 0 !important;
}

#navigation ul li ul li a:hover { color: #000; padding-bottom: 0 !important;}
#navigation ul li ul li:last-child:not(li.arrow) { border: 0;}

/* Arrow */
#navigation ul li ul li.arrow {
	background: url(../../images/light/arrow.png) no-repeat;
	border: none !important;
	position: absolute;
	top: -12px;
	left: 42%;
	height: 11px !important;
	width: 20px;
	text-indent: -9999px;
	z-index: -100;
	display: block;
	padding: 0 0 20px;
}

/******************************************************************
						 SLIDER SECTION
******************************************************************/
#featured{
	width: 960px;
	height: 455px;
}

.featured-holder{
	background: transparent url(../../images/light/featured-bg.png) no-repeat;
	width: 960px;
	height: 453px;
}

/******************************************************************
				 			CONTENT
******************************************************************/
#main-content{
	width: 100%;
	overflow: hidden;
	margin-top: -27px;
	margin-bottom: 35px;
}

#fullwidth{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 50px;
}

#left-content{
	float: left;
	width: 640px;
	overflow: hidden;
	margin-bottom: 20px;
	margin-left: 5px;
}
#left-content ul li{
	list-style-type: disc;
	list-style-position: inside;
	color: #5f6060;
	margin-left: 3px;
	margin-bottom: 11px;
	font-size: 12px;
}

#left-content ol li{
	color: #5f6060;
	margin: 0 0 0 -20px;
	font-size: 12px;
}

.main-text{
	width: 929px;
	overflow: hidden;
	margin: 25px 0 0 13px;
}
/******************************************************************
				 
******************************************************************/
/*Three columns*/
.one_third{
	width: 30%;
	float: left;
	margin: 0 16px 25px 5px;
}

/*Four Columns*/
.one_fourth{
	width: 20%;
	float: left;
	margin: 0 26px 25px 6px;
}

/*Two Columns*/
.one_half{
	width: 45%;
	float: left;
	margin: 0 22px 25px 5px;
}
/****** Three Columns**********/
.three-columns .column1{
	width: 30%;
	float: left;
}

.three-columns .column2{
	width:30%;
	float: left;
	padding-left: 45px;
	padding-right: 45px;
}

.three-columns .column3{
	width:30%;
	float: left;
}

/****** Two Columns**********/
.two-columns{
	width: 100%;
	overflow: hidden;
	padding-bottom: 26px;
}

.two-columns .one-third{
	width: 30%;
	float: left;
	padding-right: 47px;
}
.two-columns .two-third{ height: 60%;}
.two-columns .two-third-first{
	width: 64%;
	float: left;
	padding-right: 47px;
}

.two-columns .one-third-second{width: 30%;float: right;}
.two-columns .one-half{
	width: 47%;
	float: left;
	padding-right: 56px;
}

.two-columns .one-half2{
	width: 47%;
	float: left;
}

/****** Four Columns**********/
.four-columns{
	width: 100%;
	overflow: hidden;
	padding-bottom: 26px;
}

.four-columns ul{overflow: hidden; }
.four-columns ul li { width: 22%; float: left; margin-right: 38px;}
.four-columns ul li .col-icon{
	width: 48px;
	height: 48px;
	float: left;
	margin: 0;
}

.four-columns ul li h3{ padding: 7px 0 0 53px;}
.four-columns ul li:last-child{ margin-right: 0px !important;}

.four-columns .col, .four-columns .col1, .four-columns .col2, .four-columns .col3, .four-columns .col4{
	width: 22%;
	float: left;
	margin-right: 38px;
	margin-left: 0;
}

.four-columns .col:last-child{ margin: 0;}
.four-columns .col-icon{
	width: 48px;
	height: 48px;
	float: left;
	margin: 0;
}

.four-columns .col2{padding: 0 37px;}
.four-columns .col3{padding: 0 37px 0 0;}


.four-columns .col h3, .four-columns .services-col h3, .four-columns .team-col h3, .four-columns .projects-col h3, .four-columns .portfolio-col h3{
	padding-left: 53px;
	padding-top: 7px;
}

.four-columns h3 a{
	color: #232323;
}

/******************************************************************
				 			HOME CONTENT
******************************************************************/
.aboutus{
	width: 620px;
	float: left;
	margin-top: 20px;
	margin-left: 5px;
}

.fromtheblog{
	float: right;
	width: 290px;
	margin-top: 20px;
}

.fromtheblog ul{
	list-style: none;
	list-style-type: none;
	float: left;
	margin-top: 4px;
}

.fromtheblog ul li{
	margin-top: 0;
	padding-bottom: 10px;
	list-style-type: none;
	width: 100%;
	float: left;
	padding-top: 10px;
}

.fromtheblog ul li img{
	float: left;
	padding: 4px;
	border: 1px solid #dbdddd;
	background-color: #e7e9e9;
	margin-right: 18px;
}

.fromtheblog ul li img:hover{
	border: 1px solid #c4c8c8;
	background-color: #dbdddd;
}

.fromtheblog ul li span.title{
	font-weight: bold;
	float: none;
}

.fromtheblog ul li p{
	float: left;
	width: 186px;
	margin-top: 4px;
	margin-right: 0;
	margin-bottom: 0;
}

/******************************************************************
				 	SERVICES PAGE
******************************************************************/
.services{
	width: 100%;
	overflow: hidden;
	margin-top: -25px;
}

.service-box{
	float: left;
	width: 288px;
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 50px;
	height: 262px !important;
	overflow: hidden;
}

.service-box img{
	padding: 2px;
	background-color: #eee;
	border: 1px solid #d4d6d6;
}

.service-box img:hover{
	padding: 2px;
	background-color: #feffff;
	border: 1px solid #d4d6d6;
}
/******************************************************************
				 PORTFOLIO STYLE 1
******************************************************************/
#portfolio{
	width: 100%;
	overflow: hidden;
}

#portfolio ul{
	display: inline;
	float: left;
	list-style: none;
}
#portfolio ul li{
	float: left;
	position: relative;
	width: 298px;
	height: 269px !important;
	background: transparent url(../../images/light/portfoliobg.png) no-repeat;
	margin: 0 11px 23px 8px;
}

#portfolio ul li a {
	display:block; 
	position:relative;
}	

#portfolio ul li a .hoverimage{
	display: none; 
	position:absolute;
	cursor: pointer; 
	margin: 0 0 14px;
	top: 0; 
	left: 0; 
	width: 277px; 
	height: 156px; 
	background: transparent url(../../images/light/hoverimage.jpg) no-repeat;
}

#portfolio ul li a .hovervideo{
	display: none; 
	position:absolute;
	cursor: pointer; 
	margin: 0 0 14px;
	top: 0; 
	left: 0; 
	width: 277px; 
	height: 156px; 
	background: transparent url(../../images/light/hovervideo.jpg) no-repeat;
}


#portfolio ul li img{
	display: inline-block;
	float: left;
	margin: 0 0 14px;
}

#portfolio span.item-title{
	color: #1c1c1c;
	text-transform: uppercase;
	display: block;
	margin-top: 4px;
	margin-bottom: -4px;
	cursor: pointer;
	overflow: hidden;
	text-shadow: #eeedef 1px 1px 0;
	font: bold 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#portfolio span.item-title:hover{ color: #0081c1;}
#portfolio .description{
	margin-left: 9px;
	width: 274px;
	float: left;
}

#portfolio .description h3{
	margin-bottom: -6px;
	margin-top: 4px;
}

.portfolio-nav{
	width:100%;
	margin-left: 15px;
}

/******************************************************************
				 	PORTFOLIO STYLE 2
******************************************************************/
#portfolio-2{
	margin-top: -32px;
}
.project{
	width: 100%;
	overflow: hidden;
	margin-bottom: 18px;
	margin-top: 30px;
}

#portfolio-2 .project-preview{
	background: transparent url(../../images/light/portfolio2bg.png) no-repeat;
	width: 625px;
	height: 338px;
	float: left;
	margin-right: 19px;
}

#portfolio-2 .project-preview img{
	position: relative;
	top: 6px;
	left: 5px;
}
.project-description{
	width: 313px;
	float: left;
}

.specifications-portfolio2{overflow: hidden;}
.specifications-portfolio2 ul li{
	padding: 0 0 5px 20px; 
	margin: 0 0 2px; 
	background: transparent url(../../images/icons/check.png) no-repeat left 2px;
	float: left;
	overflow: hidden;
	clear: both;
}

.specifications-portfolio2 ul li a{
	color: #66666a;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

ul.specifics{ float:left; margin: 0 17px 0 0;
	padding: 0;
}
ul.specifics li{  
	padding: 0 0 5px 20px; 
	margin: 0 0 2px; 
	font-size: 13px;
	color: #525355;
	background: transparent url(../../images/icons/check.png) no-repeat left center;
	float: left;
	clear: both;
}
/******************************************************************
				 AUTHOR PAGE TEMPLATE
******************************************************************/
.user-author{
	width: 100%;
	overflow: hidden;
}

.user-author .user-image{
	float: left;
	width: 120px;
	height: auto;
}

.user-author .user-image img{
	padding: 4px;
	border: 1px solid #dbdddd;
	background-color: #e7e9e9;
	float: left;
}

.user-author .user-profile{ overflow: hidden;}
.user-author .user-profile h4{
	margin-bottom: 10px;
}

.user-author .user-profile ul li{
	list-style: none !important;
	display: inline-block;
	margin: 0px !important;
}
p.dateandtags{line-height: 0;}
/******************************************************************
				 			BLOG PAGE
******************************************************************/
.entry {
	width:100%;
	display: block;
	margin: 3px 0px 10px;
	float: left;
	position: relative;
	padding: 0px 0 35px 0px;
}

.entry h2{
	width: 569px;
	color: #3b3b3b;
	font-weight: bold;
	font-size: 25px;
	text-shadow: #ffffff 1px 1px 0;
}

.entry h2 a{
	color: #3b3b3b;
	font-weight: bold;
	font-size: 25px;
	text-shadow: #ffffff 1px 1px 0;
	line-height: 0;
}

.entry h2 a:hover{ color: #000;}

.entry img.entry_image {
	background: transparent url(../../images/light/blogimg.png) no-repeat;
	padding: 4px 2px 20px 1px;
	margin: 0px 0px -15px -2px;
}

.postmetainfo {
	width: 100%;
	float: left;
	padding: 0 0 5px;
}

span.categorylist {
	color: #898a8a;
	display: block;
}

span.categorylist a.post-author{
	font-weight: bold;
	color: #494949;
}

span.categorylist a.post-author:hover{
	font-weight: bold;
	color: #0081c1;
}

.entry .entry_content {
	width: 100%;
	margin: 10px 0 0px 0px;
	padding: 0 0px 5px;
}

.entry .entry_content a.more-link{color: #606060;}
.entry .entry_content a:hover.more-link{color: #2e2e2e;}

.postdate {
	background: transparent url(../../images/light/date.png) no-repeat;
	position: absolute;
	width: 74px;
	height: 30px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	top: -3px;
	right: 0;
	margin-top: 0;
}

.postdate span.day{
	color: #fffeff;
	font-size: 18px;
	float: left;
	margin-left: 18px;
	position: relative;
	top: 4px;
	font-weight: bold;
}

.postdate span.month{
	color: #fffeff;
	float: left;
	font-size: 11px;
	position: relative;
	top: 3px;
	left: 4px;
	width: 36px;
}

.postdate span.year{
	color: #fffeff;
	float: left;
	font-size: 11px;
	position: relative;
	top: 3px;
	left: 4px;
}

.postdate a {
	color: #636464;
	text-decoration:none;
	font-weight:normal;
	font-size: 12px;
	font-variant: normal;
}
.postdate a:hover {
	text-decoration: underline;
	color: #eceeee;
}
/******************************************************************
				 	RELATED POSTS ENTRY
******************************************************************/
#related-posts{ margin: 10px 0 50px;}
ul.related-posts-list {
	list-style: none;
	overflow: hidden;
	width: 100%;
	margin-right: 0;
	margin-left: 0;
	padding: 20px 0 0;
	margin-top: -6px;
}
ul.related-posts-list li {
	list-style: none !important;
	margin-bottom: 0px;
	overflow: hidden;
	float: left;
	margin-top: 0;
	padding: 4px;
	border: 1px solid #dbdddd;
	background-color: #e7e9e9;
	margin: 0 12px 0px 4px;
}
ul.related-posts-list a {
	overflow: hidden;
	display: block;
}

ul.related-posts-list li.last { margin-right: 0 !important;}
/******************************************************************
				 		BLOG COMMENTS
******************************************************************/
#comments{
	width: 621px;
	float: left;
	margin: -31px 0 15px 17px;
}

#comments h3{
	margin-left: -15px;
	overflow: hidden;
}
span.comments-title{
	color: #484848;
	font-size: 35px;
}

#commentlist {
	margin: 10px 0 40px -16px;
	padding: 0;
}

#comments ol { margin-left: 3px;}
#commentlist li {
	padding: 0;
	list-style: none;
	position: relative;
	background-color: #f4f4f4;
	overflow: hidden;
	margin-bottom: 15px;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border: 1px solid #d4d4d4;
}

ol#commentlist li{margin-bottom: 15px;}

/*This is the background for the author comments*/
ol#commentlist li.author_comment{background-color: #f9f9f9 !important;}

/****/
.author{
	float: left;
	width: 100px;
	padding: 10px 0;
	margin: 0 5px 0 9px;
}

.author img{
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 4px;
	float: left;
	background-color: #e7e9e9;
	border: 1px solid #dadada;
}
span.author-name{
	font: 12px/110% Arial, Helvetica, sans-serif;
	color: #383838;
	position: relative;
	left: 2px;
}

.comment{
	height: 100%;
	position: relative;
	float: left;
	width: 474px;
	text-align: justify;
	margin-left: 10px;
	padding-bottom: 15px;
	padding-top: 11px;
}
.comment p{ color: #6b6b6b;}

/****/
#commentlist cite {
	font: bold 140%/110% Arial, Helvetica, sans-serif;
	color: #666;
}
#commentlist .time {
	color: #7c7d7d;
	margin: 0 0 17px;
	position: relative;
	top: 3px;
	font-weight: bold;
}
#commentlist .commentnumber {
	position: absolute;
	right: 15px;
	top: 2px;
	font: normal 289%/100% Georgia, "Times New Roman", Times, serif;
	color: #cacaca;
	text-shadow: #fffeff 1px 1px 0;
}
/******************************************************************
						BLOG COMMENTS FORM
******************************************************************/
#commentform {
	margin:0px;
	padding: 15px 0 20px;	
	float: left;
	position: relative;
	width: 100%;
}
#commentform .holder {
	padding-top: 15px;
}
#commentform div {
	float: left;
	width: 221px;
	position: relative;
	margin: 0px;
	padding: 0px;
}
#commentform div label {
	display: block;
	font-size: 0.9em;
	padding-left: 2px;
	color: #575858;
	padding-bottom: 3px;
	font-weight: bold;
}
#commentform div label.error {
	color: #a80000;
	position: absolute;
	right: 29px;
	text-align: right;
	font-size: 0.9em;
	top: 0px;
}

.submit-button{
	position: relative;
	left: 14em;
}
#commentform input{
	border: 1px solid #d4d4d4;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #626363;
	border-radius: 3px;
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 		
	width: 199px;
	background-color: #f4f4f4;
	margin: 0 0 8px 2px;
	padding: 9px 5px 11px;
}	
#commentform textarea {
	color: #626363;
	border: 1px solid #d4d4d4;
	border-radius: 3px;
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 		
	height: 155px;
	background-color: #f4f4f4;
	width: 405px;
	margin-top: -1px;
}
#commentform input:focus, textarea:focus {
	color: #454646;
	border: 1px solid #d4d4d4;
	background-color: #f4f4f4;
}
#commentform .submit {
	display: inline-block;
	text-decoration: none;
	margin-top: 0;
	text-transform: none;
	width: auto;
	height: 33px;
	float: right;
	margin-right: 0;
	padding: 6px 10px 6px 9px;
	border-color: #4092c0 #1f68a1 #175e97;
	text-shadow: 0px -1px 1px #1f68a1;
	background-color: #3f91c0;
	/**/
	background: -moz-linear-gradient(top,
		#94dbff,
		#009be8 5%,
		#00699d
	);
	background: -webkit-gradient(linear, left top, left bottom,
		from(#94dbff),
		color-stop(0.05, #009be8),
		to(#00699d)
	);
	
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#009be8', EndColorStr='#00699d');
	color: #fffeff;
	font: bold 13px/18px "Tahoma", Arial, sans-serif;
	cursor: pointer;
	position: relative;
	left: 197px;
}

#commentform .submit:hover, .submit:focus {
	border-color: #4092c0 #1f68a1 #175e97;
	text-shadow: 0px -1px 1px #1f68a1;
	background-color: #3f91c0;

	background: -moz-linear-gradient(top,
		#94dbff,
		#49b3e8 5%,
		#0083c4
	);
	background: -webkit-gradient(linear, left top, left bottom,
		from(#94dbff),
		color-stop(0.05, #49b3e8),
		to(#0083c4)
	);
	
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#49b3e8', EndColorStr='#0083c4');
	color: #fffeff;

}
#commentform .submit:active{
	border-color: #206fa8 #2e7fb4 #4b9ec9;
	text-shadow: 0px -1px 1px #1f68a1;
	background: -moz-linear-gradient(top,
		#00699d,
		#0083c4
	);
	background: -webkit-gradient(linear, left top, left bottom,
		from(#00699d),
		to(#0083c4)
	);
	
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#00699d', EndColorStr='#0083c4');
}
#commentform em {
	font-style:italic; 
	color:#999999; 
	font-size:0.9em; 
}
/******************************************************************
				 			SIDEBAR
******************************************************************/
#sidebar {
	float: right;
	width: 287px;
	padding: 0 0px 0px 0;
}

.sidebar-block{
	float: right;
	width: 267px;
	height: auto;
	margin-bottom: 25px;
}

.sidebar-block ul li{
	list-style-image: none; 
	background: url(../../images/icons/list_arrow.png) no-repeat left 3px; 
	padding: 0 0 9px 16px; 
	margin: 0 0 4px; 
	font-size: 13px;
	color: #525355;
	text-decoration: none;
	list-style-type: none;
	float: none;
}

.sidebar-block ul li a{
	text-decoration: none;
	color: #7b7b7b;
	font-size: 13px;
	text-shadow: #faf9fb 1px 1px 0;
}

.sidebar-block ul li a:hover{
	color: #2a2b2b;
}
.sidebar-block ul li ul{
}
.sidebar-block ul li ul li{
	margin-top: 12px;
	margin-bottom: -10px;
	margin-left: -7px;
}

.sidebar-block ul li ul li a{
	color: #888;
}

.textwidget{
	font-size: 12px;
	line-height: 17px;
	color: #5f6060;
	padding-left: 2px;
}
/******************************************************************
				 	POPULAR POSTS SIDEBAR
******************************************************************/
ul.blog-posts  {
	list-style: none;
	overflow: hidden;
	width: 100%;
	margin-right: 0;
	margin-left: 0;
	padding: 0;
	list-style-type: none;
}

ul.blog-posts img {
	float: left;
	padding: 4px;
	border: 1px solid #dbdddd;
	background-color: #e7e9e9;
	margin-right: 14px;
}

ul.blog-posts img:hover {
	float: left;
	padding: 4px;
	border: 1px solid #c4c8c8;
	background-color: #dbdddd;
	margin-right: 14px;
}

ul.blog-posts  li {
	float: left;
	margin: 0px;
	padding: 7px 0px 11px 1px;
	border-bottom: 1px solid #dddfdf;
	border-top: 1px solid #f4f6f6;
	width: 249px;
	color: #6f6f6f;
	list-style-type: none;
	background: none;
}

ul.blog-posts  li:last-child { border-bottom: none;	}
ul.blog-posts li:first-child{ border-top: none;}
ul.blog-posts  li a {
	font-size: 11px;
	text-transform: uppercase;
	color: #2f3030;
	font-weight: bold;
}

ul.blog-posts  li a:hover{ color: #0081c1;}
/******************************************************************
					 	ADVERTISE SIDEBAR
******************************************************************/
ul.advertise {
	list-style: none;
	overflow: hidden;
	width: 100%;
	margin-right: 0;
	margin-left: 7px;
	padding: 0;
	list-style-type: none;
}
ul.advertise li {
	float: left;
	margin: 0px 0 0px 0px;
	display: inline;
	width: 131px;
	padding: 0px 2px 7px 0px;
}
ul.advertise img {
	padding: 1px;
	border: 1px solid #dbdddd;
	background-color: #e7e9e9;
}

ul.advertise img:hover{
	border: 1px solid #c4c8c8;
	background-color: #dbdddd;
}
/******************************************************************
					 FROM FLICKR SIDEBAR
******************************************************************/
.flickr ul{
	display: inline;
	float: left;
	width: 100%;
	list-style-type: none;
	margin-left: 7px;
}

.flickr ul li{
	display: inline;
	margin: 0 5px 14px 0;
	list-style-type: none;
	float: left;
}

.flickr ul li img{
	padding: 4px;
	border: 1px solid #dbdddd;
	background-color: #e7e9e9;
}

.flickr ul li img:hover{
	border: 1px solid #c4c8c8;
	background-color: #dbdddd;
}
/******************************************************************
						SOCIAL SIDEBAR ICONS
******************************************************************/
ul.social {
	list-style: none;
	overflow: hidden;
	width: 100%;
	margin-right: 0;
	margin-left: 0;
	padding: 13px 0 0 8px;
}
ul.social li {
	margin-bottom: 0px;
	overflow: hidden;
	float: left;
	margin-top: -9px;
}
ul.social a {
	width: 32px;
	overflow: hidden;
	display: block;
	padding: 0 10px 8px 0;
}
/******************************************************************
						 CONTACT-INFO SIDEBAR
******************************************************************/
.contact-info{
	width: 211px;
	margin-left: 4px;
	margin-bottom: 20px;
}
ul.contact-info{
	padding-top: 0;
	padding-bottom: 0;
}
ul.contact-info  li{
	padding-top: 10px;
	color: #626363;
	font-size: 12px;
	padding-left: 31px;
	width: 100%;
}

ul.contact-info li.phone {
	background: transparent url(../../images/icons/phone.png) no-repeat 3px 14px;
}
ul.contact-info li.email {
	background: transparent url(../../images/icons/mail.png) no-repeat 0 13px;
}
ul.contact-info li.msn {
	background: transparent url(../../images/icons/msn.png) no-repeat 0 14px;
}
ul.contact-info li.address {
	background: transparent url(../../images/icons/home.png) no-repeat 0 13px;
}
 
ul.contact-info li strong{
	font-weight: bold;
	color: #323333;
	font-size: 13px;
	line-height: 21px;
}
ul.contact-info li a{color: #626363;}
ul.contact-info li a:hover{color: #2997c4;}
/******************************************************************
				 		 SIDEBAR SEARCH
******************************************************************/
#search {
	margin: 0px 0px 15px;
	float: right;
	width: 266px;
	background-image: url(../../images/light/search-inputbg.png);
	background-repeat: no-repeat;
	padding: 0 0px;
	height: 41px;
}
#search input {
	margin: 9px 0px 0px 13px;
	float: left;
	width: 183px;
	height: 23px;
	color: #6d6f6f;
	font-size: 13px;
	background-color: transparent;
	border: none;
	padding: 0 3px 2px 2px;
	font-style: italic;
}

#search .search_button {
	background: transparent url(../../images/light/searchbtn.png) no-repeat 0 0;
	color: #eaeaea;
	float: right;
	width: 59px;
	margin: 0;
	border: none;
	padding: 7px;
	position: relative;
	right: 4px;
	top: 2px;
	text-decoration: none;
	text-transform: capitalize;
	height: 35px;
	display: block;
	cursor: pointer !important;
	text-shadow: #000 1px 1px 0;
	text-indent: -9999px;
}

#search .search_button:hover{
	background: transparent url(../../images/light/searchbtn.png) no-repeat 0 -35px;
	width: 59px;
	height: 35px;
	padding: 7px;
	color: #fffeff;
}

#search .search_button:active{
	background: transparent url(../../images/light/searchbtn.png) no-repeat 0 -70px;
	width: 59px;
	height: 35px;
	padding: 7px;
	color: #fffeff;
}
/******************************************************************
				 			FOOTER
******************************************************************/

#footer{
	background: #000 url(../../images/light/footer-bg.jpg) repeat-x;
	height: 135px;
}

.footer-content{
	height: 116px;
 	margin: 0 auto !important;
 	padding: 19px 36px 0;
	width: 960px;
	text-transform: uppercase;
	background: url(../../images/light/footer-light.png) no-repeat right 3px;
}
 
#theme_logo_footer{
	background: transparent url(../../images/light/logo-footer.png) no-repeat;
	width: 155px;
	height: 48px;
	margin-top: 18px;
	display: block;
	text-indent: -9999px;
	margin-right: 10px;
} 

img.logo-footer{
	height: 75px;
	margin-top: 18px;
	display: block;
	text-indent: -9999px;
	margin-right: 10px;
}

.footer-left{ float: left;}
.footer-right{ float: right;}
#footer p{
	color: #919494;
	margin-top: 33px;
	margin-bottom: 1px;
}
#footer a{ 
	color: #7f7f7f; 
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}
#footer a:hover{ color: #dadada;}
/******************************************************************
				 		   JQUERY TIP
******************************************************************/
.tipsy { 
	padding: 5px; 
	font-size: 13px; 
	opacity: 0.8; 
	background-repeat: no-repeat;  
	background-image: url(../../images/light/tipsy.gif);
	width: 120px;
}
 
.tipsy-inner { 
	padding: 5px 8px 4px 8px; 
	background-color: #333; 
	color: white; 
	max-width: 200px; 
	text-align: center;
}
  .tipsy-inner { 
  	border-radius: 3px;
  	-moz-border-radius:3px; 
  	-webkit-border-radius:3px; 
}
  .tipsy-north { background-position: top center; }
  .tipsy-south { background-position: bottom center; }
  .tipsy-east { background-position: right center; }
  .tipsy-west { background-position: left center; }
/* step style */
#step {
	margin: 10px 0 40px;
	padding: 0;
	overflow: hidden;
}
#step li {
	padding: 3px 0 6px 110px;
	margin: 0;
	list-style: none;
	float: left;
}

.step-content{
	overflow: hidden;
	display: inline-block;
	position: relative;
	height: auto;
	right: 110px;
	margin-top: 20px;
	width: 631px;
}

.step-content img{
	float: left;
	margin-bottom: 15px;
}

.step-content p{
	
}

#step h3 {
	margin: 0 0 5px;
	color: #666;
	line-height: 100%;
	font-size: 22px;
}
#step .item1 {
	background: url(../../images/light/step1.png) no-repeat;
	width: 521px;
}
#step .item2 {
	background: url(../../images/light/step2.png) no-repeat;
	width: 521px;
}
#step .item3 {
	background: url(../../images/light/step3.png) no-repeat;
	width: 521px;
}
#step .item4 {
	background: url(../../images/light/step4.png) no-repeat;
	width: 521px;
}
/******************************************************************
				 Top Buttons and login
******************************************************************/
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	border-left: none;
	overflow: hidden;
	position: relative;
}

.tab_container {
	clear: both;
	float: left; 
	width: 100%;
	height: 59px;
}
.tab_content { padding: 0;}
/******************************************************************
				 LOGIN TOP
******************************************************************/
#password-clear { display: none;}
#slide-panel{ 
	width: 100%;
}

.loginform {
	width: 369px; 
	margin: 10px auto auto; 
	color:#999; 
	font-family:Arial, Helvetica, sans-serif;
	float: right;
}

.loginform label{
	font-size: 12px;
	color: #d7d7d7;
	font-weight: bold;
	margin-left: 0;
}

.formdetails {
	color:#FFF; 
	font-size:12px;
	padding: 0;
}
.formdetails label.rmb{
	color: #b6b6b6; font-size: 11px;
	font-weight: normal;
	font-style: normal;
}

.formdetails input{
	float: left;
}

.loginregister {color: #b6b6b6;
	padding-top: 0;
	margin-top: 6px;
	font-size: 9px;
	float: left;
	width: 200px;
}
.loginregister a:link, .loginregister a:visited {
	color: #525353; font-size: 10px;
	margin-left: 8px;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}
.loginregister a:hover, .loginregister a:active{color: #d6d7d7;}
.loginform ul li {display:inline;}

.loginform ul li a:link, .loginform ul li a:visited {
	color: #a8a8a8; 
	font-size: 11px; 
	text-decoration: none;
}

.margin0{ margin-right: 0 !important;}
.input_wrapper {
	display: block;
	background:url(../../images/light/login.png) no-repeat;
	height: 28px;
	width: 149px;
	margin: 0 14px 0 0;
	float: left;
}

.input_wrapper input {	
	outline: none;
	background: transparent;
	border: 0;
	color: #888;
	width: 130px;
	font-size: 13px;
	padding: 6px 6px 4px;
	margin-left: 3px;
}
/*Submit Button*/
label.submit{
 	background: transparent url(../../images/light/buttons/btnright.png) no-repeat top right;
 	color: #e0e2e2;
	display: block;
	height: 25px;
	width: auto;
	margin-top: 3px;
	padding: 0 9px 0 0;
	cursor: pointer !important;
	float: left;
	margin-left: 2px;
}

label.submit span {
	display: block;
	background: transparent url(../../images/light/buttons/btnleft.png) no-repeat top left;
	padding: 6px 0 5px 10px;
	white-space: nowrap;
	text-align: center;
	height: 14px;
	margin-top: 0;
	cursor: pointer !important;
	text-decoration: none;
	text-transform: uppercase;
	font: bold 11px arial, sans-serif;
}
/* hide actual button input */
label.submit input {
	position: absolute;
	width: inherit;
	height: inherit;
	z-index: 2;
	opacity: 0;
	-moz-opacity:0 ;
	display: block;
	cursor: pointer;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE8 first */
filter:alpha(opacity: 0); /* IE5-IE7 second */
}


label.submit:hover {
    background-position: right -25px;
    color: #f9f9f9;
    outline: none;
}

label.submit:hover span {
    background-position: left -25px;
    padding: 6px 0 5px 10px;
}

label.submit:active {
    background-position: right -49px;
    color: #f2f2f2;
    outline: none; /* hide dotted outline in Firefox */
}

label.submit:active span {
    background-position: left -49px;
    padding: 6px 0 5px 10px;    
}
/******************************************************************
				 			CONTACT FORM
******************************************************************/
#contact p, label, legend { font: 1.5em "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; }

#contact h1 { margin: 10px 0 10px; color: #414242;
	font-size: 19px;
	font-weight: bold;
}
#contact hr { color: inherit; height: 0; margin: 6px 0 6px 0; padding: 0; border: 1px solid #d9d9d9; border-style: none none solid; }

#contact { 
	display: block; 
	width: 100%; 
	margin: 30px auto 60px; 
	padding: 0; 
}

/* Form style */

#contact label { 
	display: inline-block; 
	float: left; height: 26px; 
	line-height: 26px; 
	width: 96px; 
	font-size: 13px;
	color: #656666;
	margin-top: 3px;
	font-weight: bold;
}
#contact input, textarea, select { 
	width: 280px; 
	margin: 5px 0 11px; 
	color: #a1a1a1; 
	background: #f7f7f7; 
	border: 1px solid #e8e8e8; 
	-moz-border-radius:3px; -webkit-border-radius:3px;
	padding-top: 6px;
	padding-left: 5px;
	padding-right: 5px;
	height: 20px;
	/* INNER SHADOWS */
	-moz-box-shadow: 0px 1px 1px rgba(255,255,255,0.3), inset 0px 1px 2px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.3), inset 0px 1px 2px rgba(0,0,0,0.15);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.3), inset 0px 1px 2px rgba(0,0,0,0.15);
	font-size: 13px;
}

#contact textarea{
	width: 406px;
	height: 162px;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-left: 0;
	margin-top: 2px;
}

#contact input:focus, textarea:focus, select:focus { 
	color:#666; 
}
#contact input.submit { 
	display: block;
	text-decoration: none;
	margin-top: 13px;
	text-transform: none;
	width: auto;
	height: 33px;
	float: left;
	margin-right: 0;
	padding: 6px 10px 6px 9px;
	border-color: #4092c0 #1f68a1 #175e97;
	text-shadow: 0px -1px 1px #1f68a1;
	background-color: #3f91c0;
	/**/
	background: -moz-linear-gradient(top,
		#94dbff,
		#009be8 5%,
		#00699d
	);
	background: -webkit-gradient(linear, left top, left bottom,
		from(#94dbff),
		color-stop(0.05, #009be8),
		to(#00699d)
	);
	
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#009be8', EndColorStr='#00699d');
	color: #fffeff;
	font: bold 13px/18px "Tahoma", Arial, sans-serif;
	cursor: pointer;
	position: relative;
	left: 384px;
}
#contact input.submit:hover { 
	border-color: #4092c0 #1f68a1 #175e97;
	text-shadow: 0px -1px 1px #1f68a1;
	background-color: #3f91c0;

	background: -moz-linear-gradient(top,
		#94dbff,
		#49b3e8 5%,
		#0083c4
	);
	background: -webkit-gradient(linear, left top, left bottom,
		from(#94dbff),
		color-stop(0.05, #49b3e8),
		to(#0083c4)
	);
	
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#49b3e8', EndColorStr='#0083c4');
	color: #fffeff;
 
}
#contact input.submit:active { 
	border-color: #206fa8 #2e7fb4 #4b9ec9;
	text-shadow: 0px -1px 1px #1f68a1;
	background: -moz-linear-gradient(top,
		#00699d,
		#0083c4
	);
	background: -webkit-gradient(linear, left top, left bottom,
		from(#00699d),
		to(#0083c4)
	);
	
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#00699d', EndColorStr='#0083c4');

}
#contact input[type="submit"][disabled] { 
	border-color: #206fa8 #2e7fb4 #4b9ec9;
	text-shadow: 0px -1px 1px #1f68a1;
	background: -moz-linear-gradient(top,
		#00699d,
		#0083c4
	);
	background: -webkit-gradient(linear, left top, left bottom,
		from(#00699d),
		to(#0083c4)
	);
	
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#00699d', EndColorStr='#0083c4');
	
}
#contact fieldset { 
	padding: 0; 
	border:none; 
}

#contact legend { 
	padding:7px 10px; 
	font-weight:bold; color:#000; border:1px solid #eee; -moz-border-radius:5px; -webkit-border-radius:5px; margin-bottom:0 !important; margin-bottom:20px; }

#contact span.required{ font-size: 13px; color: #ff0000; } /* Select the colour of the * if the field is required. */

#message { margin: 10px 0; padding: 0; }

.error_message { display: block; line-height: 22px; background: #f6f6f6 url('../../images/light/error.png') no-repeat 10px 6px; padding: 3px 10px 3px 35px; color: #0a0a0a;border: 1px solid #e5e5e5; -moz-border-radius:5px; -webkit-border-radius:5px; }

ul.error_messages { margin: 0 0 0 15px; padding: 0; }
ul.error_messages li { height: 11px; line-height: 22px; color:#333; margin-bottom: 10px;
	list-style: none !important;
}

.loader { padding: 0 10px;
	float: left;
	margin-top: 16px;
	position: relative;
	left: 220px;
	top: 6px;
}

#contact #success_page h1 { background: url('../../images/light/success.gif') left no-repeat; padding-left:22px;
	margin-bottom: 7px;
}
#contact #success_page p{
	font-size: 14px;
	margin: 0;
}